name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
      - uses: hashicorp/setup-terraform@v3
      - run: .devcontainer/create.sh
      - run: .devcontainer/start.sh
      - run: npm run lint:check
      - run: npm run build
